.sidebar {
  float: right;
  margin: 12px;
  border: 2px solid blue;
  padding: 4px;
  background-color: salmon;
}

.sidebar2 {
  width: 50%;
}

.picsize {
  width: 400px;
  float:left;
  padding: 5px;
}
